@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}

nav {
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  background-color: green;
}
nav h1 {
  margin-left: 24px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
ul:last-child {
  margin-right: 72px;
}
main {
  padding: 0px 24px;
  display: flex;
  align-items: center;
  gap: 24px;
  text-align: center;
}
h3 {
  margin-bottom: 32px;
}

.modal {
  padding: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  text-align: center;
  width: 300px;
}
.modal::backdrop {
  background-color: #f4f4f4;
  opacity: 0.5;
}
button {
  margin-top: 22px;
  padding: 12px 22px;
  color: white;
  background-color: green;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: rgb(152, 184, 152);
}
.open-btn {
  margin-left: 24px;
}
